doctype html
html
    head
        title #{pageTitle} | notice
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        main
            nav
                ul
                    li
                        a(href="/") home
                    li 
                        a(href="/notice") notice
                    li
                        a(href="/crawler/fur") fur
            h1=pageTitle
            block content
    block script
        script(src="../../client/js/rank.js")