extends base.pug
include mixins/rank.pug

block content
    li
        a(href="/rank/search") search
        emsp 
        a(href="/rank/upload") Upload
        esmp
    br
    if rank 
        each item in rank
            +rank(item)
    script(src="/client/js/filter.js")
